@model Facturador.Models.Productos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-dark">Borrar Producto</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="p-4 border border-dark rounded">
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="Descripcion"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="Descripcion" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ValorUnitario"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="ValorUnitario" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="CantidadStock"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="CantidadStock" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ClaveProdServ"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="ClaveProdServ" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ClaveUnidad"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="ClaveUnidad" class="form-control border border-dark" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Borrar Producto" />
            <a asp-action="Index" class="btn btn-success">Regreso a Lista de Productos</a>
        </div>
    </div>
</form>
