@model Facturador.Models.Productos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-dark">Editar Producto</h2>
<br />

<form asp-action="Edit">
    <div class="p-4 border border-dark rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="Descripcion" class="control-label"></label>
                </strong>
            </div>
            <div class="col-12">
                <input asp-for="Descripcion" class="form-control border border-dark" />
            </div>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ValorUnitario" class="control-label"></label>
                </strong>
            </div>
            <div class="col-12">
                <input asp-for="ValorUnitario" class="form-control border border-dark" />
            </div>
            <span asp-validation-for="ValorUnitario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="CantidadStock" class="control-label"></label>
                </strong>
            </div>
            <div class="col-12">
                <input asp-for="CantidadStock" class="form-control border border-dark" />
            </div>
            <span asp-validation-for="CantidadStock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ClaveProdServId" class="control-label"></label>
                </strong>
            </div>
            <div class="col-12">
                <select asp-for="ClaveProdServId" class="form-control" asp-items="ViewBag.ClaveProdServId"></select>
            </div>
            <span asp-validation-for="ClaveProdServId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="ClaveProdServId" class="control-label"></label>
                </strong>
            </div>
            <div class="col-12">
                <select asp-for="ClaveUnidadId" class="form-control" asp-items="ViewBag.ClaveUnidadId"></select>
            </div>
            <span asp-validation-for="ClaveUnidadId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Actualizar Producto" />
            <a asp-action="Index" class="btn btn-success">Regreso a Lista de Productos</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
