@model Facturador.Models.Clientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-dark">Borrar Cliente</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="p-4 border border-dark rounded">
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="Nombre"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="Nombre" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="RFC"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="RFC" class="form-control border border-dark" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <strong>
                    <label asp-for="UsoCFDI"></label>
                </strong>
            </div>
            <div class="col-12">
                <input disabled asp-for="UsoCFDI" class="form-control border border-dark" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Borrar Cliente" />
            <a asp-action="Index" class="btn btn-success">Regreso a Lista de Clientes</a>
        </div>
    </div>
</form>